.color-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center !important;
    margin: 0 auto;
    background-color: #00607ee3;
}

.secundario {
    background-color: #075155e3;
    display: flex;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    white-space: unset;
    flex-wrap: wrap;
}

.tercero {
    display: inline flow-root list-item;
}

img {
    margin: 8px;
}

h3 {
    color: white
}

.btnCarro {
    /*background:url(/carro.png) no-repeat;*/
    width: 35px !important;
    height: 35px !important;
    transition: background-color .3s;
    color: var(--home-linkbox-text-color);
    padding: .5rem 1rem;
    border: var(--home-linkbox-border);
    background-color: var(--home-linkbox-bg);
    border-radius: 10px;
    cursor: pointer;
    float: left;
}