.modal {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0,0,.75);
    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open{
    display: flex;
}

.modal-container {
    padding: 1rem;
    position: relative;
    min-width: 320px;
    max-width: 480px;
    min-height: 200px;
    max-height: 600px;
    overflow-y: auto;
    background-color: aliceblue;
}

.modal-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

form input {
    display: block;
    max-width: 250px;
    padding: 14.5px;
    width: 100%;
    margin: 1rem 0;
    color: var(--color);
    background-color: #9191911f;
    border: none;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 0.8px;
    font-size: 15px;
    backdrop-filter: blur(15px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: #ffffff;
    cursor: pointer;
}



